body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, hsla(5, 53%, 63%, 0.5) 0%, rgb(0, 255, 242) 83%);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Tilt{
  transform-style: preserve-3d;
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, hsla(5, 53%, 63%, 0.5) 0%, rgb(0, 255, 242) 93%);
  
}

.Tilt-inner{
  transform: translateZ(20px)
}